@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.companies-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  @include mx.mq('md', 'max') {
    justify-content: center;
  }
}

.companies-item {
  width: 100%;
  max-width: 343px;
  border-radius: 24px;

  padding: 24px;
  background-color: fn.get-color('dark-tertiary');

  @include mx.mq('md') {
    max-width: 359px;
  }
}

.companies-item-title-box {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 4px;
}

.companies-item-title {
  @extend %accent-text;

  color: fn.get-color('light');
}

.companies-item-icon {
  fill: fn.get-color('light');

  &.stroke {
    fill: fn.get-color('transparent');
    stroke: fn.get-color('light');
  }
}

.companies-item-location-box {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 32px;
}

.companies-item-location-icon {
  fill: fn.get-color('success');
}

.companies-item-location-text {
  @extend %main-text;
}
