.companies {
}

.companies-title {
}
.companies-text {
}
.companies-list {
}
.companies-item {
}
.companies-item-title-box {
}
.companies-item-title {
}
.companies-item-icon {
}
.companies-item-location-box {
}
.companies-item-location-icon {
}
.companies-item-location-text {
}
.btn {
}
