@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.page--companies {
  display: block;
}

.companies-title {
  @extend %section-title;

  margin-bottom: 8px;

  @include mx.mq('md') {
    margin-bottom: 16px;
  }
}

.companies-text {
  margin-bottom: 40px;

  @include mx.mq('md') {
    margin-bottom: 36px;
  }
}
